html, body{
	margin: 0;
	padding: 0;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
table{
	border: 2px solid black;
	margin: 10px;
}
td{
	margin-top:0px;
	padding: 5px;
	width: 5%;
}
#thank{
	text-align: center;
	color: #3c763d;
	margin: 60px;
}
#btn_container{
	margin-bottom: 55px;
}
