.items{
	border: 1px solid #fafafa;
}
.items:hover{
	background: #D49D00;
	color: #fff;
	font-weight: bold;
}
.item_fac{
	margin-top: 15px;
}
.item_fac>img{
	margin-right: 2px;
}
.activeitem{
	background : #D49D00;
	color: #fff;
	font-weight: bold;
}
.timetable{
	
}
.table>thead>tr th{
	text-align: center;
}
#going_timetable>div>h4,
#return_timetable>div>h4{
	text-align: center;
	color: #777;
}
.timetable_body>div p{
	text-align: center;
	margin-top: 10px;
	line-height: 50px;
	font-size: 18px;

}
.price_container{
	background-color: #fff;
	z-index: 1000;
	color: black;
	font-weight: normal;
	margin-bottom: 20px;
}
.price_table>thead>tr>th{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 1.5em;
}
.price_table>thead>tr>th:nth-child(2){
	border-bottom: 10px solid #EF0000;
}
.price_table>thead>tr>th:nth-child(3){
	border-bottom: 10px solid #EFBC00;
}
.price_table>thead>tr>th:nth-child(4){
	border-bottom: 10px solid #1DBF00;
}
.price_table>thead>tr>th:nth-child(5){
	border-bottom: 10px solid #0078BF;
}
.price_table>tbody>tr>td:nth-child(1){
	padding-right: 20px;
	width: 15em;
	font-weight: bold;
	font-size: 1.5em;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}
.ticket{
	width: 10em;
	height: 4em;
	border: 1px solid #DEDEDE;
	text-align: center;
	font-size: 2em;
}
.ticket:hover{
	background-color: #D40000;
	color: #fff;
}
.checked{
	background-color: #D40000;
	color: #fff;
}
.buyticket_container{
	margin-top: 15px;
	margin-bottom: 15px;
}
.buyticket_container>span{
	line-height: 40px;
}
.active{
	background-color: #f00;
	color: #fff;	
}
#tab_container>ul>li.active,
#tab_container>ul>li.active>a{
	background-color: #f00;
	color: #fff;
	margin-left:-2px;
}
#tab_container>ul>li{
	margin-left: 0;
}
#tab_container>ul>li>a{
	background-color: #fff;
	color: #000;
	margin-left:-2px;
}
#tab_container>div:nth-child(2)>.active{
	background-color: #fff;
	color: #000;
}